$bg-Nav-Bar: #1b1b1b;
$bg-button: #d2401e;
$bg-clients:#f7f7f2;
$bg-img-testimonials:#f6f7f2;

$color-text-white: #ffffff;
$color-text-phrase-0: #b7903c;
$color-text-phrase-2: #d2401e;
$color-text-combo-price: #ab4027;
$color-text-phrase-0-choose:#d2401e;
$color-text-phrase-2-choose:#5d5d5d;
$color-text-name-choose: #b7903c;
$color-text-price-choose:#d2401e;